:root {
  --color-1: #0d0d0d;
  --color-2: #191919;
  --color-3: #262626;
  --color-4: #333333;
  --color-5: #6a1518;
  --color-6: #80191c;
  --color-7: #951d20;
  --color-8: #ab2124;
  --color-9: #c12428;
  --color-10: #d7282c;
}