html {
    background-color: var(--color-2);
    box-sizing: border-box;
    font-size: 16px;
    scroll-behavior: smooth;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }

  body {
    margin: 0 0 0 0;
  }

/* Variables Colores de fondo */
:root {
    --color-1: #0d0d0d;
    --color-2: #191919;
    --color-3: #262626;
    --color-4: #333333;
    --color-5: #6a1518;
    --color-6: #80191c;
    --color-7: #951d20;
    --color-8: #ab2124;
    --color-9: #c12428;
    --color-10: #d7282c;
  }

/* Variables Colores de letras */

:root {
    --lcolor-1: #f2f2f2;
    --lcolor-2: #e6e6e6;
    --lcolor-3: #d9d9d9;
    --lcolor-4: #cccccc;
    --lcolor-8: #ea9595;
    --lcolor-7: #e67f7f;
    --lcolor-6: #e26a6a;
    --lcolor-5: #de5454;
    --lcolor-9: #262626;
    --lcolor-10: #6a1518;
}

/* Colores de letras */

.cl1 {
    color: var(--lcolor-1);
}

.cl2 {
    color: var(--lcolor-2);
}

.cl3 {
    color: var(--lcolor-3);
}

.cl4 {
    color: var(--lcolor-4);
}

.cl5 {
    color: var(--lcolor-5);
}

.cl6 {
    color: var(--lcolor-6);
}

.cl7 {
    color: var(--lcolor-7);
}

.cl8 {
    color: var(--lcolor-8);
}

.cl9 {
    color: var(--lcolor-9);
}

.cl10 {
    color: var(--lcolor-10);
}

/* Colores de fondo */

.cb1 {
    background-color: var(--color-1);
}

.cb2 {
    background-color: var(--color-2);
}

.cb3 {
    background-color: var(--color-3);
}

.cb4 {
    background-color: var(--color-4);
}

.cb5 {
    background-color: var(--color-5);
}

.cb6 {
    background-color: var(--color-6);
}

.cb7 {
    background-color: var(--color-7);
}

.cb8 {
    background-color: var(--color-8);
}

.cb9 {
    background-color: var(--color-9);
}

.cb10 {
    background-color: var(--color-10);
}

/* Letras gruesas */

.bld {
    font-weight: 700;
}

/* Botones */

.btn1 {
 border: none;
 height: 30px;
 width: 150px;
 border-radius: 25px;
 align-content: center;
 margin-top: 10px;
 justify-self: center;
 transition: all 0.2s ease-in-out;
}

.btn1:hover {
    background-color: var(--color-10);
}

/* Tarjertas */

.card1 {
    display: grid;
    background-color:var(--color-3) ;
    padding-top: 5px;
    row-gap: 10px;
    border-radius: 15px;
    align-self: center;
}

.card-body1 {
    background-color: var(--color-5);
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 15px;
}

.card-body-titles {
    text-align: center;
    color: var(--lcolor-8);
    font-size: 1.25rem;
    margin-top: 15px;
    margin-bottom: 15px;
}

.card-body-text {
    text-align: center;
    color: var(--lcolor-8);
    font-size: 1rem;
}

.card2 {
    display: grid;
    grid-template-columns: repeat(autofill , fr);
    position: relative;
    height: 30vh;
    width: 30%;
}

/* .card2-btn {
    position: absolute;
    height: 20%;
    width: 15%;
    left: 0;
    top: 0;
    align-self: flex-start;
    background-color: var(--color-1);
    opacity: 50%;
    border-radius: 100%;
} */

/* FUENTES */

.grande {
    font-size: 1.75rem;
}

.muygrande {
    font-size: 2.5rem;
}

.peque {
    font-size: 0.75rem;
}

.normal {
    font-size: 1.1rem;
}

/* Estilos */

/* Tipos */

section {
    max-width: 1024px;
    margin: 0 auto;
}

section:not(#datosP) {
    height: 100vh;
}

h2 {
    font-size: 1.6rem;
    font-weight: bold;
    justify-self: left;
}

p {
    text-align: justify;
}


/* Clases */

.gcontainer {
    /* padding-top: 15px; */
    /* margin-left: 50px;
    margin-right: 50px; */
    margin-bottom: 20px;
    background-color: var(--color-2);
}

.mcontainer:not(#formacion) {
    display: grid;
}

.mcontainer {

    padding-top: 2.5vw;
    padding-bottom: 35px;
    padding-left: 0px;
    padding-right: 0px;
    /* justify-items: center; */
    align-items:center;
    align-content: center;
    
}

.mcontainer >p {
    line-height: 3vh;
    font-size: 1rem;
}

.mcontainer2 {

    display: grid;
    height: 6vh;
    width: 100%;
}

.paraNavegacion {
    grid-template-columns: repeat(12 , auto);
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 0;
    margin-right: 0;

}

.paraNavegacion div:nth-child(1) {
    grid-column: 7;
}

.paraHeader {
    font-weight: bold;
}

.navegadorP {
    display: none;
    background-color: var(--color-7);
    height: 12vw;
    width: 12vw;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 4;
    border-bottom-left-radius: 7vw;
}

.menuP {
    display: none;
}

.fondoMenuP {
    display: none;
}

.fondoNav {
    background-size:cover;
    position: relative;
    z-index: 5;
    top: 10%;
    right: -5%;
}

.presentacion {
    height: 57vh;
    width: 100%;
}

.presentacion div:nth-child(1) {
    top: 10%;
    left: 7%;
}

.presentacion div:nth-child(2) {
    right: 6%;
    bottom: 5%;
}

/* .presentacion div:nth-child(3) {
    
} */

.foto {
    height: 45vh;
    width: 45vh;
    background-image: url(https://www.nacionrock.com/wp-content/uploads/phil-anselmo-y-the-illegals-en-lima-e1615984091692.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    align-self:center;
    justify-self:center;
    position: relative;
    left:0;
    top: 0vw;
    transition: all 0.3s ease-in-out;
}

.foto:hover {
    height: 45vh;
    width: 45vh;
    background-image: url(https://wikirock.net/wp-content/uploads/2020/05/14559054692_97127c648a_b-1024x641-1.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 300px;
    align-self:center;
    justify-self:center;
    position: relative;
    left: 0;
    top:0;
}

.container {
    display: grid;
}

.gridHab {
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    padding-top: 5%;
    padding-bottom: 3%;
    justify-items: center;
}

.gridHab div {
    display: grid;
    height: 10vw;
    width: 10vw;
    align-items: center;
    justify-items: center;
    background-color: var(--color-3);
    border-radius: 100%;
    box-shadow: .5vw .5vw 1vw 1vw var(--color-1);
}

.portContainer {
    display: grid;
    grid-template-columns: repeat(5 , 1fr);
    column-gap: 0;
    margin-top: 5%;
    margin-bottom: 5%;
    height: 45vh;
}

.portContainer div {
    position: absolute;
    top: 40%;
    filter:grayscale();
    transform: rotate3d(0.1,1,0.1, 45deg) ;
    transition: all 0.2s ease-in-out;
}

.portContainer>div:nth-child(1) {
    left: 10%;
    z-index: 5;
}

.portContainer div:nth-child(2) {
    left: 22.5%;
    z-index: 4;
}

.portContainer div:nth-child(3) {
    left: 35%;
    z-index: 3;
}

.portContainer div:nth-child(4) {
    left: 47.5%;
    z-index: 2;
}

.portContainer div:nth-child(5) {
    left: 60%;
    z-index: 1;
}

.portContainer div:hover {
    top: 30%;
    filter: none;
    transform: none;
    z-index: 6;
}

.contFormulario {
    align-items: center;
    height: 100%;
    width: 100%;
    padding-top: 5vh;
}

/* PADDINGS */

.padd1 {
    padding-left: 0;
    padding-right: 0;
}

.padd2 {
    padding-left: 50px;
    padding-right: 50px;
}

.padd3 {
    padding-top: 10px;
}

.padd4 {
    padding-left: 7%;
    padding-right: 7%;
}

.padd5 {
    padding: 3%;
}

/* BORDERS */

.border1 {
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}

.border2 {
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

.border4 {
    border-radius: 30px;
}

.borde1 {
    border: inset 2px var(--color-4);
    border-radius: 15px;
}

/* MARGINS   */

.margin1 {
    margin-left: 40px;
    margin-right: 40px;
}

.margin2 {
    margin-top: 5px;
    margin-bottom: 0px;
}

.margin3 {
    margin-top: 25vh;
}

.margin4 {
    margin-top: 5vh;
   margin-bottom: 10vh;
}

.nmargin {
    margin: 0;
}

/* GAPS */

.gap1 {
    row-gap: 3%;
}

.sinsb {
    text-decoration: none;
}

.alright {
    text-align: right;
}

.alcenter {
    text-align: center;
}

/* SHADOWS */

.shad {
    box-shadow:0vw .5vw 1vw var(--color-5);
}

/* POSICIONES */

.al1 {
    align-items: center;
    justify-items: center;
}

.prelativa {
    position: relative;
}

.pfija {
    position: fixed;
}

.pabsoluta {
    position: absolute;
}

.zind1 {
    z-index: 1;
}

.zind2 {
    z-index: 2;
}

.zind3 {
    z-index: 3;
}

/* DIVS INTERNOS */

.hdr {
    transition: all 0.2s ease-in-out;
}

.hdr:hover {
    color: var(--color-10);
}

.hdr1 {
    background-color: var(--color-2);
    height: 6vh;
    text-align: center;
    line-height: 6vh;
    transition: all 0.2s ease-in-out;
    
}

.hdr1:hover {
    background-color: var(--color-1);
    border-radius: 20px;
    height: 80%;
    width: 80%;
    align-self: center;
    justify-self: center;
    line-height: 5vh;
}

/* IMÁGENES */

.img1 {
    height: 95%;
    width: 95%;
    align-self: center;
    justify-self: center;
}

.img2 {
    height: 150px;
    width: 150px;
    align-self: center;
    justify-self: center;
}

.img3 {
    height: 35px;
    width: 35px;
    align-self: center;
    justify-self: center;
}

.imgHab {
    height: 8vw;
    width: 8vw;
    justify-self: center;
}

.imgPort {
    height: 100%;
    width: 100%;
    justify-self: center;
    align-self: center;
    box-shadow: 1vw 1vw 1vw 1vw var(--color-1);
    border-radius: 10%;
}

.contacto {
    grid-template-columns: auto auto;
    justify-items: center;
    grid-auto-flow: unset;
    align-self: center;
}

.contacto:nth-child(1) {
    grid-column: 1;
}

.contacto:nth-child(2) {
    grid-column: 2;
}

.form {
    display: grid;
    grid-template-rows: 0.25fr 0.25fr 1fr;
    /* align-items: center; */
    /* justify-content: center; */
    height: 52vh;
    width: 55vw;
    align-self: center;
    justify-self: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
    margin-bottom: 2vh;
  }

.form-control {
    padding: 1vh;
    font-size: 1rem;
    background-color: var(--color-4);
    border: 1px solid transparent;
    border-radius: 8px;
  }

  .form-control::placeholder {
    color: var(--lcolor-4);
  }
  
  .form-control:focus-visible {
    outline: 1px solid var(--color-10);
    border-color: var(--lcolor-4);
  }
  
  .btn-form {
    padding: 1vh;
    background-color:var(--color-4);
    border: 1px solid transparent;
    border-radius: 8px;
    color: var(--lcolor-4);
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  .btn-form:hover {
    background-color: var(--color-9);
  }

.idiomas {
    display: grid;
    grid-template-rows: repeat(2 , auto);
    row-gap: 2vw;
    padding-top:2%;
    padding-bottom: 1%;
}

.idiomas2 {
    position:relative;
    display: grid;
    grid-template-columns:0.25fr 0.25fr 1fr;
    height: 3vw;
    align-items: center;
}

.barraIdioma {
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    justify-self: center;
    width: 80%;
    height: 35%;
    border-radius: 50px;
    border: 1px var(--lcolor-2) solid;
}

.barraIdioma div:nth-child(1) {
    background-color: var(--color-6);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border: 4px solid var(--color-2);
    
}

.barraIdioma div:nth-child(2) {
    background-color: var(--color-6);
    border: 4px solid var(--color-2);
    width: 100%;
    height: 100%;
    border-left: 0;
}

.barraIdioma div:nth-child(3) {
    background-color: var(--color-6);
    border: 4px solid var(--color-2);
    border-left: 0;
}

/* Identificadores */

#barraEspañol {
    background-color: var(--color-6);
    border: 4px solid var(--color-2);
    border-left: 0;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

#acercaDeMi {
    height: 37vh !important;
}

#portafolio {
    border: 0.3vw outset var(--color-1);
    height: 85vh !important;
}

#contacto {
    grid-template-rows: 0.25fr 0.25fr 1fr;
    grid-template-columns: 0;
}

#contacto>div:nth-child(1) {
    grid-row: 1;
}

#contacto>div:nth-child(2) {
    grid-row: 2;
}

#contacto>div:nth-child(3) {
    grid-row: 3;
}

/*--------------------------------------- MEDIA QUERiES --------------------------------- */

/* Dispositivos grandes (quizá 1280px) */

@media screen and (max-width: 2000px) {  

}

/* --------------------------------------------Tablets (antes 1024)------------------------------------- */

@media screen and  (max-width: 1280px) {

    /* TARJETAS */

.card1 {
    display: grid;
    background-color:var(--color-3) ;
    padding-top: 5px;
    row-gap: 7px;
    border-radius: 15px;
}

.card-body1 {
    background-color: var(--color-5);
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
}

.card-body-titles {
    text-align: center;
    color: var(--lcolor-8);
    font-size: 1.25rem;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-body-text {
    text-align: center;
    color: var(--lcolor-8);
    font-size: 1rem;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

    /* FUENTES */

.grande {
    font-size: 1.75rem;
}

.muygrande {
    font-size: 2.75rem;
}

.peque {
    font-size: 0.75rem;
}

.normal {
    font-size: 1rem;
}

/* TIPOS */

h2 {
    font-size: 1.5rem;
    justify-self: left;
    text-align: left;
}

/* CLASES */

.mcontainer {
    padding-top: 5vh;
}

.mcontainer p {
    line-height: 3vh;
}

.mcontainer2 {

    display: grid;
    height: 6vh;
    width: 100%;
}

.hdr1 {
    background-color: var(--color-2);
    height: 6vh  ;
    text-align: center;
    line-height: 6vh;
}

.hdr1:hover {
    line-height: 5vh;
}

    .presentacion {
        height: 59vh;
        width: 100%;
    }
    
    .presentacion div:nth-child(1) {
        top: 10%;
        left: 15%;
    }
    
    .presentacion div:nth-child(2) {
        right: 15%;
        bottom: 5%;
    }
    
    /* .presentacion div:nth-child(3) {
        
    } */
    
    .foto {
        height: 40vh;
        width: 40vh;
        background-image: url(https://www.nacionrock.com/wp-content/uploads/phil-anselmo-y-the-illegals-en-lima-e1615984091692.jpg);
        background-size: cover;
        background-position: center;
        border-radius: 300px;
        align-self:center;
        justify-self:center;
        position: relative;
        left: 0;
        top:0vh;
        /* bottom: 15vh; */
    }
    
    .foto:hover {
        height: 40vh;
        width: 40vh;
        background-image: url(https://wikirock.net/wp-content/uploads/2020/05/14559054692_97127c648a_b-1024x641-1.jpg);
        background-size: cover;
        background-position: center;
        border-radius: 300px;
        align-self:center;
        justify-self:center;
        position: relative;
        left: 0;
        top:0vh;
        /* bottom: 15vh; */
    }

    .margin2 {
        margin-top: 5px;
        margin-bottom: 0px;
    } 

    .padd4 {
        padding-left: 7vw;
        padding-right: 7vw;
    }

    /* IDENTIFICADORES */

    #acercaDeMi {
        height: 35vh !important;
    }

    #portafolio {
        border: 0.3vw outset var(--color-1);
        height: 85vh !important;

    }
    
    #contacto {
        grid-template-rows: 0.25fr 0.25fr 1fr;
        grid-template-columns: 0;
    }
    
    #contacto>div:nth-child(1) {
        grid-row: 1;
    }
    
    #contacto>div:nth-child(2) {
        grid-row: 2;
    }
    
    #contacto>div:nth-child(3) {
        grid-row: 3;
    }
}

/* Dispositivos medianos (antes 767)----------------------------------------------------------------------*/

@media screen and (max-width: 1024px) {

/* TARJETAS */

.card1 {
    display: grid;
    background-color:var(--color-3) ;
    padding-top: 5px;
    row-gap: 7px;
    border-radius: 15px;
}

.card-body1 {
    background-color: var(--color-5);
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
}

.card-body-titles {
    text-align: center;
    color: var(--lcolor-8);
    font-size: 0.75rem;}

.card-body-text {
    text-align: center;
    color: var(--lcolor-8);
    font-size: 0.75rem;
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: 5px;
    margin-right: 5px;
}

 /* FUENTES */

.grande {
    font-size: 1.5rem;
}

.muygrande {
    font-size: 2rem;
}

.peque {
    font-size: 0.75rem;
}

.normal {
    font-size: 0.7rem;
}   

/* TIPOS */

hr {
    margin: 0;
}

h2 {
    font-size: 1.25rem;
}

/* CLASES */

.mcontainer {
    padding-top: 35px;
}

.mcontainer2 {
    height: 6vh;
}

.presentacion {
    height: 57vh;
}

.presentacion div:nth-child(1) {
    top:5%;
    left: 5%;
    position: absolute;
    justify-self: left;
}

.presentacion div:nth-child(2) {
    /* top: 0; */
    bottom: 0;
    right: 5%;
    position: absolute;
}

.foto {
    height: 45vh;
    width: 45vh;
}

.foto:hover {
    height: 45vh;
    width: 45vh;
}

/* .presentacion div:nth-child(3) {
    
} */

.margin1 {
    margin-left: 0;
    margin-right: 0;
}

.padd4 {
    padding-left: 7vw;
    padding-right: 7vw;
}

.padd2 {
    padding-left: 7vw;
    padding-right: 7vw;
}

/* Divs Internos */

.hdr1 {
    height: 6vh;
    line-height: 6vh;
}
 
/* IDENTIFICADORES */

#acercaDeMi {
    height: 35vh !important;
}

#portafolio {
    border: 0.3vw outset var(--color-1);
    height: 85vh !important;
    margin-left: 5vw;
    margin-right: 5vw;
}

#contacto {
    grid-template-rows: 0.25fr 0.25fr 1fr;
    grid-template-columns: 0;
}

#contacto>div:nth-child(1) {
    grid-row: 1;
}

#contacto>div:nth-child(2) {
    grid-row: 2;
}

#contacto>div:nth-child(3) {
    grid-row: 3;
}

}

/* Dispositivos pequeños (antes 480)--------------------------------------------------------------*/ 

@media screen and (max-width:767px) {

/* TARJETAS */

.card1 {
    display: grid;
    background-color:var(--color-3) ;
    padding-top: 10px;
    row-gap: 10px;
    border-radius: 15px;
    width: 50vw;
    height: 30vh;
}

.card-body1 {
    background-color: var(--color-5);
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    line-height: 3.5vh ;
}

.card-body-titles {
    text-align: center;
    color: var(--lcolor-8);
    font-size: 0.75rem;}

.card-body-text {
    text-align: center;
    color: var(--lcolor-8);
    font-size: 0.75rem;
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: 5px;
    margin-right: 5px;
}

    /* FUENTES */

.grande {
    font-size: 1.25rem;
}

.muygrande {
    font-size: 1.75rem;
}

.peque {
    font-size: 0.25rem;
}

.normal {
    font-size: 0.75rem;
}

.mcontainer>p {
    font-size: 0.75rem;
}

/* TIPOS */

hr {
    margin: 0%;
}

h2 {
    font-size: 1rem;
    justify-self: center;
    text-align: center;
}

/* CLASES */

    .navegadorP {
    display: grid;
    background-color: var(--color-5);
    height: 12vw;
    width: 12vw;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 5;
    border-bottom-left-radius: 10vw;
    }

    .fondoNav {
    display: grid;
    grid-template-rows: repeat (5 auto);
    position: relative;
    z-index: 6;
    height: 60%;
    width: 60%;
    top: 15%;
    right: 15%;
    justify-self: right;

    }

    .fondoNav div:nth-child(1) {
        background-color: var(--lcolor-3);
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        justify-self: right;
        width: 100%;
        height: 100%;
    }

    .fondoNav div:nth-child(3) {
        background-color: var(--lcolor-3);
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        justify-self: right;
        width: 70%;
        height: 100%;
    }

    .fondoNav div:nth-child(5) {
        background-color: var(--lcolor-3);
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        justify-self: right;
        width: 40%;
        height: 100%;
    }

    .mcontainer p {
        line-height: 2vh;
    }

    .menuP {
        /* display: grid;
        background-color: var(--color-5);
        grid-template-rows: 1fr repeat(6 , 1fr);
        row-gap: 5px;
        align-items: center;
        justify-items: center;
        height: 11vw;
        width: 11vw;
        position: fixed;
        top: 0;
        right: 0;
        border-bottom-left-radius: 10vw;
        z-index: 4;
        overflow: hidden;
        transition:all 1s ease-in; */
        display: grid;
        background-color: var(--color-5);
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        row-gap: 0;
        align-items: center;
        justify-items: center;
        height: 11vw;
        width: 11vw;
        top: 0;
        right: 0;
        position: fixed;
        border-bottom-left-radius: 10vw;
        border-bottom-right-radius: 0;
        box-shadow: none;
        margin: 0;
        z-index: 4;
        overflow: hidden;
        transition:all 0.2s ease-in;
    }

    .fondoMenuP {
        display: block;
        background-color: var(--color-5);
        height: 11vw;
        width: 11vw;
        position: fixed;
        top: 0;
        right: 0;
        border-bottom-left-radius: 10vw;
        z-index: 3;
        transition:all 0.2s ease-in;
    }

    .menuP2 {
        display: grid;
        background-color: var(--color-1);
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        row-gap: 2vh;
        align-items: center;
        justify-items: center;
        top: 0;
        right: 0;
        height: 75vh;
        width: 100%;
        position: fixed;
        border-bottom-left-radius: 3vh;
        border-bottom-right-radius: 3vh;
        box-shadow: 0vh 8vh 10vh var(--color-1);
        margin-left: 1%;
        margin-right: 1%;
        margin-top: 1%;
        z-index: 8;
        transition:all 0.2s ease-out;
    }

    .menuP2 div {
        background-color: var(--color-5);
        height: 85%;
        width: 40%;
        text-align: center;
        justify-items: center;
        line-height: 6.5vh;
        border-radius: 3vh;
        border: 0.75vh outset var(--color-5);
    }

    .menuP2 div:first-child {
        justify-self: right;
        width: 10%;
        height: 70%;
        border-radius: 100%;
        margin-right: 2%;
    }

    .menuP2 div:nth-child(2) {
        border-top-left-radius: 10vh;
        border-top-right-radius: 10vh;
        border-bottom-left-radius: 5vh;
        border-bottom-right-radius: 5vh;
    }

    .menuP2 div:last-child {
        border-top-left-radius: 5vh;
        border-top-right-radius: 5vh;
        border-bottom-left-radius: 10vh;
        border-bottom-right-radius: 10vh;
    }

    .fondoMenuP2 {
        display: initial;
        background-color: var(--color-2);
        opacity: 85%;
        height: 100%;
        width: 100%;
        top: 0;
        right: 0;
        position: fixed;
        z-index: 7;
        transition:all 0.2s ease-out;
    }

    .presentacion {
        height: 62vh;
        width: 100%;
    }
    
    .presentacion div:nth-child(1) {
        top: 0vh;
        left: 8%;
        position: relative;
        justify-self: left;
    }
    
    .presentacion div:nth-child(2) {
        top: 40vh;
        right: 8%;
        position: relative;
    }
    
    /* .presentacion div:nth-child(3) {
        
    } */

    .contacto {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: auto;
        justify-items: center;
        grid-auto-flow: unset;
        row-gap: 12.5vh;
        padding-top: 7.5vh;
    }
    
    .contacto:nth-child(1) {
        grid-row: 1;
    }
    
    .contacto:nth-child(2) {
        grid-row: 2;
    }
    
    .foto {
        height: 38vh;
        width: 38vh;
        background-image: url(https://www.nacionrock.com/wp-content/uploads/phil-anselmo-y-the-illegals-en-lima-e1615984091692.jpg);
        background-size: cover;
        background-position: center;
        border-radius: 300px;
        align-self:center;
        justify-self:center;
        position: relative;
        left: 0;
        top: -25%;
        /* bottom: 15vh; */
    }
    
    .foto:hover {
        height: 38vh;
        width: 38vh;
        background-image: url(https://wikirock.net/wp-content/uploads/2020/05/14559054692_97127c648a_b-1024x641-1.jpg);
        background-size: cover;
        background-position: center;
        border-radius: 300px;
        align-self:center;
        justify-self:center;
        position: relative;
        left: 0;
        top:-25%;
        /* bottom: 15vh; */
       
    }

    .img2 {
        height: 100px;
        width: 100px;
        align-self: center;
        justify-self: center;
    }

    .gridHab {
        display: grid;
        grid-template-columns: repeat(3 , 1fr);
        padding-top: 25%;
        padding-bottom: 3%;
        justify-items: center;
    }
    
    .gridHab div {
        display: grid;
        height: 15vw;
        width: 15vw;
        align-items: center;
        justify-items: center;
        background-color: var(--color-3);
        border-radius: 100%;
        box-shadow: .5vw .5vw 1vw 1vw var(--color-1);
    }

    .idiomas {
        padding-left:2%;
        padding-right: 2%;
        row-gap: 20%;
        overflow: scroll;
        height: 80%;
        align-items: center;
        padding-top: 10%;
    }

    .idiomas2 {
        display: grid;
        grid-template-rows: 0.2fr 2fr;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: center;
        height: 100%;
        width: 100%;
        row-gap:0;
    }

    .idiomas2 div:last-child {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .idiomas2 p {
        margin: 0;
    }

    .barraIdioma {
        grid-template-columns: repeat(4, 1fr);
        grid-auto-flow: column;
        justify-self: center;
        width: 100%;
        height: 50%;
    }

    .barraIdioma div:nth-child(1) {
        background-color: var(--color-6);
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border: 3px solid var(--color-2);
        grid-column: 1;
    }
    
    .barraIdioma div:nth-child(2) {
        background-color: var(--color-6);
        border: 3px solid var(--color-2);
        height: 100%;
        border-left: 0;
        grid-column: 2;
    }
    
    .barraIdioma div:nth-child(3) {
        background-color: var(--color-6);
        border: 3px solid var(--color-2);
        border-left: 0;
        grid-column: 3;
    }

    .barraIdioma div:nth-child(4) {
        grid-column: 4;
    }

    .portContainer {
        display: grid;
        grid-template-rows: repeat(5 , 1fr);
        grid-template-columns: none;
        column-gap: 0;
        margin-top: 5%;
        margin-bottom: 5%;
        height: 60vh;
    }
    
    .portContainer div {
        position: absolute;
        /* top: 40%; */
        filter:grayscale();
        transform: rotate3d(0.1,1,0.1, 45deg) ;
        transition: all 0.2s ease-in-out;
    }
    
    .portContainer>div:nth-child(1) {
        left: 5%;
        top: 20%;
        z-index: 5;
    }
    
    .portContainer div:nth-child(2) {
        left: 17.5%;
        top: 32.5%;
        z-index: 4;
    }
    
    .portContainer div:nth-child(3) {
        left: 30%;
        top: 45%;
        z-index: 3;
    }
    
    .portContainer div:nth-child(4) {
        left: 42.5%;
        top: 57.5%;
        z-index: 2;
    }
    
    .portContainer div:nth-child(5) {
        left: 55%;
        top: 70%;
        z-index: 1;
    }
    
    .portContainer div:hover {
        left: 30%;
        filter: none;
        transform: none;
        z-index: 6;
    }

    .card2 {
        height: 20%;
        width: 40vw;
    }

    /* PADDS, BORDER Y MARGIN */
    
    .padd2 {
        padding-left: 7vw;
        padding-right: 7vw;
    }

    .padd4 {
        padding-left: 8vw;
        padding-right: 8vw;
    }

    .padd5 {
        padding-top: 10%;
    }

    .padesp {
        padding-bottom: 20%;
    }
    
    .margin1 {
        margin-left: 0;
        margin-right: 0;
    }

    .margin2 {
        margin-top: 5px;
        margin-bottom: 0px;
    }

    .margin3 {
        margin: 0;
    }

    .gap1 {
        row-gap: 4%;
    }

    /* IDENTIFICADORES */

#navegacion {
    display: none;
}

#formacion {
    margin-top: 5vh;
}

#habilidades {
    /* height: 110vh; */
    grid-template-rows: 0.2fr 0.8fr 1fr;
}

#habilidades > div {
    height: 80%;
}

/* #formacion {
    height: 105vh;
} */

#barraEspañol {
    background-color: var(--color-6);
    border: 3px solid var(--color-2);
    border-left: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    grid-column: 4;
}
    
#acercaDeMi {
    height: 32vh !important;
}

#portafolio {
    border: 0.3vw outset var(--color-1);
    height: 85vh !important;
    margin-left: 5vw;
    margin-right: 5vw;
}

#contacto {
    grid-template-rows: 0.25fr 0.25fr 1fr;
    grid-template-columns: 0;
}

#contacto>div:nth-child(1) {
    grid-row: 1;
}

#contacto>div:nth-child(2) {
    grid-row: 2;
}

#contacto>div:nth-child(3) {
    grid-row: 3;
}

}
/* 
* {
    border: 1px var(--lcolor-1) solid;
} */
